@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');

$highlight: #ff7500;
$dark: #222;

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 12px;
  background-color: #f2f2f2;
  margin: 0px !important;
  color: #000;
}

.el-button {
  border: 1px solid $highlight;
  background: none;
  color: $highlight;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 20px;
  font-size: 12px;

  &--primary:focus {
    background: none;
    border: 1px solid $highlight;
    color: $highlight;
  }

  &:focus {
    background: none;
    border: 1px solid $highlight;
    color: $highlight;
  }

  &:hover {
    border: 1px solid $highlight;
    background: $highlight;
    color: $dark;
  }

  &.smBtn {
    padding: 6px 8px !important;
    font-size: 12px !important;
  }
}

.secondaryBtn {
  border: none;

  &:focus {
    background: none;
    border: none;
    color: $highlight;
  }

  &:hover {
    border: none;
    background: none;
    color: $highlight;
    text-decoration: underline;
  }
}

.el-loading-spinner .path {
  stroke: #ff7500;
}

.el-loading-spinner .el-loading-text {
  color: #ff7500 !important;
  font-weight: 600;
}

.el-icon-download:before {
  font-weight: 600 !important;
}